.hero-img {
    filter: blur(3px);
    box-shadow: 0px 0px 0px 2px black;
    background-color: black;
}

.hero-screen-anchor {
    height: 0px;
    position: absolute;
}

.hero-screen {
    position: absolute;
    top: 0px;
    z-index: -3;
    background-color: black;
}

.hero-title-container {
    position: absolute;
    width: 100vw;
    top: 90px;
    color: white;
    text-align: center;
    z-index: 2;
}

.hero-subtitle {
    font-size: 1rem;
    color: rgb(216, 216, 216);
}

/* Screen size specs */

@media only screen and (max-width: 576px) {
}


@media only screen and (min-width: 576px) {
}


@media only screen and (min-width: 767px) {
    .hero-title-container {
        top: 110px;
    }

    .hero-title {
        font-size: 55px;
    }

    .hero-subtitle {
        font-size: 20px;
    }
}


@media only screen and (min-width: 992px) {
    .hero-title-container {
        top: 130px;
    }
}


@media only screen and (min-width: 1200px) {
}
