.navbar-profile-name {
    padding: 10px;
}

.nav-icon {
    margin-right: 2px;
}

.brand-link {
    color: rgb(231, 231, 231);
    font-weight: bold;
    /* text-shadow: 1px 1px 1px black; */
}

.brand-link:hover {
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.brand-link, .brand-link:hover,
.nav-link, .nav-link:hover {
    transition-duration: 0.3s;
}

/* Screen size specs */

@media only screen and (max-width: 576px) {
}


@media only screen and (min-width: 576px) {
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 992px) {
    .nav-bar-container {
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        z-index: 2;
        width: 100vw;
    }

    .brand-link {
        color: white;
    }
}

@media only screen and (min-width: 1000px) {
}


@media only screen and (min-width: 1200px) {
}
